header {
	background-color: cornsilk;
	padding: 50px;
	margin-left: 0px !important;
}

nav#mainnav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Merriweather', serif;
	margin-left: 0px !important;
}

nav {
	background-color: coral;
	width: 100%;
	padding: 25px;
}

#mainnav li {
	float: left;
	padding: 15px;
}

#mainnav li a {
	color: antiquewhite;
	text-decoration: none;
}

h1 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 3em;
	color: coral;
}


h2 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 2em;
	color: coral;
}

h3 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.8em;
}

p {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.2em;
}


