body {
	margin-bottom: 75px;
}

header {
	background-color: lavender;
	padding: 75px 50px 75px 50px;
	margin-left: 0px !important;
}

#resume {
	margin: 25px 75px 0px 50px;	
}

#education {
	margin: 0px 75px 0px 50px;
}


nav#mainnav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Merriweather', serif;
	margin-left: 0px !important;
	text-align: center;
	font-weight: 900;
}

nav {
	background-color: indigo;
	width: 100%;
	padding: 25px;
}

#mainnav li {
	float: left;
	padding: 15px;
}

#mainnav li a {
	color: antiquewhite;
	text-decoration: none;
}

#mainnav li a:hover {
	text-decoration: underline;
}

h1 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 4em;
	color: indigo;
}


h2 {
	font-family: 'Merriweather', serif;
	font-weight: 900;
	font-size: 2em;
	color: indigo;
}

h3 {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1.4em;
}

p {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
}

ul {
	font-family: 'Merriweather', serif;
	font-weight: 400;
	font-size: 1em;
	line-height: 2em;
}

#linkedin-link a {
	color: indigo;
	text-decoration: none;
	font-weight: 900;
}

#linkedin-link a:hover {
	text-decoration: underline;
}




